# Vim
*.swp

# sbt
target
/project/build
/leon
/setupenv
/leon-bench
/.test-history

# synthesis
derivation*.dot

# leon
last.log

# eclipse
.project
.classpath
.cache
.settings/
.z3-trace
hs_err_pid*.log
